{% extends 'base.html' %}
{% block main %}



    <h4>Channels</h4>
    <table class="table table-striped">
        {% for channel in channels %}
            {% if not channel.is_archived %}
                <tr>
                    <td><a href="/channels/{{ channel.id }}/">
                        {{ channel.name }}</a>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>

    <h4>Archived Channels</h4>
    <table class="table table-striped">
        {% for channel in channels %}
            {% if channel.is_archived %}
                <tr>
                    <td><a href="/channels/{{ channel.id }}/">
                        {{ channel.name }}</a>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}
